I have loaded a dataset that contains data on School Attendance by District for Nairobi. 

I will try use this to improve my skills learned so far in linear regression with sklearn.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

LOAD DATASET AND EXPLORE THE GIVEN DATA!

In [4]:
data = pd.read_csv('School_Attendance_Data_By_District.csv')

In [9]:
data.head()

,District,Rural_/_Urban,Male_/_Female,In_school_with_pre-primary_as_percent_of_pre-primary_population,In_school_with_Primary_education_as_%_of_primary_school_age_population,In_school_with_Secondary_education_as_percent_of_secondary_school_age_population,In_school_with_Tertiary_education_as_%_of_population,University_students_as_%_of_population,Youth_Polytechnic_students_as_percent_of_population,%_of_people_with_over_3_years_Basic_Literacy,...,Tertiary_age_population,County,Province,Census_Table,MTEF_Sector,MTP_Sector,Longtitude,Latitude,Geolocation,OBJECTID
0,TURKANA SOUTH,Urban,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,Turkana,RIFT VALLEY,"Table 3a: Rural Population, 3 years and above...",Human resources development,Education and Training,35.999795,2.078370,"(2.078370044, 35.99979492)",0
1,NYANDARUA NORTH,Rural,Male,114.34%,118.51%,64.27%,5.99%,2.18%,1.44%,0.04%,...,9533.0,Nyandarua,CENTRAL,"Table 3b: Urban Population, 3 years and above ...",Human resources development,Education and Training,36.423431,-0.144561,"(-0.144560572, 36.42343108)",1
2,NYANDARUA NORTH,Rural,Female,113.68%,116.56%,69.31%,7.66%,1.46%,0.58%,0.12%,...,8738.0,Nyandarua,CENTRAL,"Table 3b: Urban Population, 3 years and above ...",Human resources development,Education and Training,36.423431,-0.144561,"(-0.144560572, 36.42343108)",2
3,NYANDARUA SOUTH,Rural,Male,96.18%,120.32%,52.6%,3.55%,2.17%,0.73%,0.06%,...,11582.0,Nyandarua,CENTRAL,"Table 3b: Urban Population, 3 years and above ...",Human resources development,Education and Training,36.556513,-0.533045,"(-0.533045224, 36.55651343)",3
4,NYANDARUA SOUTH,Rural,Female,93.98%,118.71%,57.5%,3.86%,1.23%,0.65%,0.1%,...,11177.0,Nyandarua,CENTRAL,"Table 3b: Urban Population, 3 years and above ...",Human resources development,Education and Training,36.556513,-0.533045,"(-0.533045224, 36.55651343)",4

In [23]:
new_data = data[["District","Rural_/_Urban","Male_/_Female","County","Province"]]

In [24]:
new_data.describe()

       District Rural_/_Urban Male_/_Female  County     Province
count       632           632           632     632          632
unique      158             2             2      47            8
top      MASABA         Rural        Female  Kiambu  RIFT VALLEY
freq          4           316           316      36          176

From the exploration above, it's easy to say most School Attendance by District was from female students, who come from rural areas mainly in Masaba District. Although it also states that on a County level Kaimbu had the highest attendance than any other county.

No Model can be trained from this data as no predictive assumptions can be raised.